
img.cover{
  width: 320px;
  height: 320px;
}
button{
  border:0;
  background: #232326;
  width: 30
}
button.a{
  margin-left: -40px;
  margin-right: -5px;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-right: 85px;

}
button.b{
  margin-left: -5px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-right: 0px;
  padding-left:110px;

}
img.pause{
  width:40px;
  height: 34px;
}
audio.play{
  width:320px;
  background-size:cover;
  color: #333300;
}
h1.title{
  color: #FF33CC;
}
div.music-text{
  position: absolute;
  left: 500px;
  top: 40px;
}
li{
  color: #333300;
  font-family:Georgia;
  font-size: 25px;
}
li.text{
  color:#66FF33;
  font-family:Georgia;
  font-size: 25px;
}
